.btn {
    @apply inline-block text-white border rounded px-1.5 py-1 text-center;
}

.btn-sm {
    @apply px-1 py-0.5;
}

.btn-blue {
    @apply bg-blue-500;

    &:hover {
        @apply bg-blue-600;
    }
}

.btn-red {
    @apply bg-red-500;

    &:hover {
        @apply bg-red-600;
    }
}

.btn-green {
    @apply bg-green-500;

    &:hover {
        @apply bg-green-600;
    }
}
