.btn {
    @apply text-white border rounded px-1.5 py-1 text-center;
}

.btn-blue {
    @apply btn bg-blue-500;

    &:hover {
        @apply bg-blue-600;
    }
}

.btn-red {
    @apply btn bg-red-500;

    &:hover {
        @apply bg-red-600;
    }
}

.btn-green {
    @apply btn bg-green-500;

    &:hover {
        @apply bg-green-600;
    }
}
